* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family:Arial, Helvetica, sans-serif;
  /* background-color: rgba(172, 141, 154, 0.717); */
  /* background-color: rgba(244, 236, 239, 0.717); */
  background-color: #e2e2e2;
}

.header {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  background-color: #f2f2f2;
}

.menu__app-header {
  padding: 15px 60px;
}

.header__navbar-list {
  display: flex;
  align-items: center;
  height: 80px;
  transition: 200ms ease-in-out;
  list-style-type: none;
}

ul{
  list-style-type: none;
}
.nav__link-header-list a {
  padding: 30px;
  font-size: 1.5rem;
  color: #4a5454ac;
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
}

.user__info {
  display: flex;
  align-items: center;
  padding: 10px 10px;
}

.img {
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
  display: inline-block;
  margin: 10px 5px 0 0;
}

a:hover {
  color: #1f2323ac;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  /* padding: 10px 10px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1; */
  display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 0.1fr 2.2fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". ."
      ". ."; 
  /* background-color: #48BB78; */
}

.search__app-container {
  padding: 20px 20px;
  margin: 20px 20px;
  
}

.search__app-section {
  /* width: 75%; */
  border: 1px solid rgba(186, 183, 183, 0.705);
  padding: 40px 20px;
  border-radius: 30px;
  box-shadow: -4px 3px 67px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 3px 67px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 67px -16px rgba(0, 0, 0, 0.75);
  /* background-color: rgba(68, 115, 172, 0.55); */
  background: hsla(213, 77%, 14%, 1);
  background: linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );
  background: -moz-linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    hsla(213, 77%, 14%, 1) 0%,
    hsla(202, 27%, 45%, 1) 100%
  );
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#08203E", endColorstr="#557C93", GradientType=1 );
}


.section__container-search,
.section__container-task,
.section__container-date-time,
.section__container-priority {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  justify-content: center;
  margin: 10px 15px;
}

.input__date-container {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
}

.input__container-priority {
  /* display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center; */
  display: grid;
  grid-template-columns: 3em auto;
  gap: 0.5em;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(218, 218, 218);
  margin: 0;
  font: inherit;
  color: #b5179e;
  width: 1em;
  height: 1em;
  border: 0.15em solid #1f2324;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 0.90em 0.90em #b5179e;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.searchbox {
  position: relative;
}
.searchbox input[type="text"],
.section__container-task input[type="text"] {
  border: 0px;
  height: 100%;
  width: 97%;
  font-size: 1rem;
  padding: 17px;
  border-radius: 30px;
}
.searchbox svg {
  fill: darkgray;
  height: 24px;
  width: 24px;
  position: absolute;
  left: 5px;
  top: 12px;
}

.searchbox input[type="text"]::placeholder,
.section__container-task input[type="text"]::placeholder {
  color: #87a3a3;
  padding-left: 20px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.searchbox input[type="text"]:focus,
.section__container-task input[type="text"]:focus {
  border-color: #87a3a3;
  box-shadow: 0px 1px 5px #87a3a3;
}
.button {
  font-size: 14px;
  /* text-transform: uppercase; */
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  background-color: #fff;
  border: 0px;
  /* border-radius: 10px; */
  touch-action: manipulation;
  transition-duration: 33ms;
  vertical-align: middle;
  transform: translate3d(0px, 0px, 0px);
  /* padding: 10px; */
  margin-top: 15px;
  width: 200px;
  outline: none;
  padding: 17px;
  border-radius: 30px;
  font-size: 20px;
  color: #284661;
}

.button-container-search {
  display: flex;
  justify-content: flex-end;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: 17px;
  top: -33px;
}
.button-task-item__add {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #bec3c397;
  transform: translate3d(0px, 0px, 0px);
  outline: none;
  border: 0;
  box-shadow: -4px 3px 67px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 3px 67px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 67px -16px rgba(0, 0, 0, 0.75);
}

button:hover {
  cursor: pointer;
  outline: none;
  background-color: hsla(202, 27%, 45%, 0.60);
  transition: background-color 0.5s easi-in 0.3;
  color: #e2e2e2;
}

input:focus {
  outline: none;
}

label {
  font-size: 24px;
  font-weight: 500;
  color: #e2e2e2;
  margin-bottom: 10px;
}

.title-heading{
  font-size: 24px;
  font-weight: 500;
  color: #030303;
  margin-bottom: 10px;
}
input[type="date"],
input[type="time"] {
  background: #eae9e9;
  color: rgb(33, 30, 30);
  padding: 10px;
  border-radius: 20px;
  border: 0;
  width: 50%;
  box-shadow: -4px 3px 67px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 3px 67px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 3px 67px -16px rgba(0, 0, 0, 0.75);
  padding: 17px;
  border-radius: 30px;
}

.button-task-list__trash {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
}


/* list */
.task-list-item{
  /* position: relative; */
  list-style: none;
  /* height: 45px;
  line-height: 45px; */
  margin-bottom: 8px;
  /* background: #f2f2f2; */
  border-radius: 30px;
  padding: 15px;
  cursor: default;
  overflow: hidden;
  /* background-color: #f2f2f2; */
 background-color: #284661;
}

.task-list-title, .task-list-date{
  font-size: 20px;
  margin: 10px 10px;
  padding: 10px 10px;
  font-family: "Lato", sans-serif;
  color: #e2e2e2;
  line-height: 1.2;
  text-transform: capitalize;
}

.task-list-date{
  color: #e2e2e2d6;
}

.task-list-priotity-high, .task-list-priotity-low, .task-list-priotity-medium{
  background-color: rgb(245, 101, 101, .40);
  color: #F56565;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 10px;
  padding: 10px 10px;
  font-family: "Lato", sans-serif;
  border-radius: 30px;
  text-transform: capitalize;
  width: 60px;
  text-align: center;
}

.task-list-priotity-medium{
  background-color: rgb(236, 201, 75, .40);
  color: #ECC94B;
}

.task-list-priotity-low{
  background-color: rgb(72, 187, 120, .40);
  color: #48BB78;
}
/* .task-list-priotity-low{
  background-color: #fff;
  color: #e2e2e2;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 10px;
  padding: 10px 10px;
  font-family: "Lato", sans-serif;
  border-radius: 30px;
  text-transform: capitalize;
  width: 60px;
  text-align: center;

} */